.opcion {
    border: none;
    background: #f8f9fa;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    width: 120px;
}
.opcion img {
    max-width: 100%;
    height: 80px;
    object-fit: contain;
}
.opcion:hover {
    transform: scale(1.05);
    background: #e9ecef;
}
table.table td, table.table th {
  vertical-align: middle;
}

.card p.small {
  margin: 0;
}
.opcion.seleccionado {
    border: 2px solid #0d6efd;
    background: #e7f1ff;
}
